.serivices__title {
  text-align: center;
  margin-top: 25px;
}
.services__container {
  width: 37vh;
}
.services__inclined__container {
  /* background-color: #e6891e; */
  margin-top: 50px;
}
.services__inclined {
height: 45px;
transform: skewY(-10deg);
border-radius: 15px 15px 0 0;
background-color: #e6891e;
}
.services__content{
    margin-top: -27px;
    border-radius: 5%;
    background-color: #e6891e;
    padding: 40px 10px 10px;
    
}
.service__card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px  ;
    
}
