*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* color: #E48727; */
}
.large_screen{
    /* background-image: url(../../assets/pattern_L.png); */
    background:linear-gradient(rgba(0, 0, 0, 0), rgba(18, 138, 2, 0.671)), url(../../assets/pattern_L.png);
    background-size: contain;
    overflow : hidden;
}
.time_container{
    /* display: flex; */
    width: 250px;
    /* justify-content: space-between; */
    border-top: 2px solid  #05A04B;
    border-bottom: 2px solid  #05A04B;
    border-radius: 15px;
    padding: 20px;
    /* margin-bottom: 100px; */
    font-size: 20px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
    /* color: #E48727; */
}
.solat_img{
    margin-top: 70px;
}
.time_container:hover{
    background-color: hwb(26 65% 32% / 0.594);

}

ul li{
    list-style: none;
}
.solat_img{
    display: none;
}
.prayer__time{
    display: flex;
    justify-content: space-between;
    
}
.prayer__time:hover{
    background-color: hwb(30 55% 45% / 0.594);
}
@media (min-width : 769px){
.solat_img{
    display: block;
    width: 40%;
}
.solat_img img{
    width: 100%;
    margin-top: -30px;
    background: transparent;

}
.solat_img:hover img {
    opacity: 0.5;
  }
.large_screen{
    display: flex;
    justify-content: space-around;
}
}