
.banner{
background: rgb(253,253,253);
background: linear-gradient(180deg, rgba(253,253,253,1) 41%, rgba(10,158,74,1) 91%, rgba(10,158,74,1) 100%);
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    font-size: 2.5rem;
}
/* AIzaSyCTKt4HOHVLNT5BT3g0HWSGnxd2aV1vzu8 */
.data{
background: rgb(253,253,253);
background: linear-gradient(360deg, rgba(253,253,253,1) 0%, rgba(10,158,74,1) 83%, rgba(10,158,74,1) 100%);
    height: 100vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

 .mid{
    position: relative;
    margin-top: 50px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
 }
.image img{
    height: 200px;
    align-self: center;
    border-radius: 20px;
    opacity: 0.8;
    border: none;
}
.pop_left{
    position: relative;
    width: 30%;
    /* margin-right: -100px; */
}
.madrasas{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 25%;
    color: white;
    font-size: 20px;
    height: 25%;
    width: 50%;
    border-radius: 15px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/library2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
    padding-top: 10%;
}
.teachers{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 230px; */
    top: 40%;
    left: 10%;
    color: white;
    font-size: 20px;
    padding-top: 10%;
    height: 25%;
    width: 50%;
    border-radius: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/teacher_student1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
    /* background-color: #FFFFFF1A; */
}
.graduates{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 20px;
    height: 25%;
    width: 60%;
    padding-top: 10%;
    border-radius: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../assets/graduate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
}
.pop_right{
    position: relative;
    width: 30%;
}
.years{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 25%;
    color: white;
    font-size: 20px;
    padding-top: 10%;
    height: 25%;
    width: 50%;
    border-radius: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/library3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
}

.students{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    right: 10%;
    color: white;
    font-size: 20px;
    height: 25%;
    width: 50%;
    padding-top: 10%;
    border-radius: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/teacher_student2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
}

.middle{
    padding-left: 30px;
  
}
@media (max-width : 769px){
    .pop_left, .pop_right{
        display: none;
    }
    .mid{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    }

